@charset "utf-8";
/* 初始化CSS */
body, p, ul, ol, li, form, img, h1, h2, h3, select, input{margin:0; padding:0;}
body{background:#FFFFFF; color:#333333; text-align:left; font:14px/25px "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Arial Narrow", HELVETICA;}
ul, li{list-style:none;}
img{border:0;}
input{padding-top:0; padding-bottom:0;}
input::-moz-focus-inner {border:none;padding:0;}
select, input{vertical-align:middle; }
select, input, textarea{font-size:14px;font-family:"Microsoft YaHei", "微软雅黑"; margin:0;}
input[type="text"], input[type="password"], textarea{outline-style:none; -webkit-appearance:none;}
textarea{resize:none;}
/*table{border-collapse:collapse;}*/
p{text-indent:2em; text-align:left;}
a:link, a:visited{color:#333333; text-decoration:none;}
a:hover{color:#bb3543; text-decoration:underline;}
/*顶部*/
h1{position:absolute; left:0; top:-30px; margin-top:-30px; height:30px; line-height:30px; font-size:18px;}
h2{ font-size:24px; font-weight:normal; line-height:50px; text-align:center;}
h3{ font-size:16px; line-height:40px; text-align:center; color:#298050;}
.t_header{ min-width:950px; height:170px; background:#DBD1D0 url(../images/zsgs/banner_mdgs.jpg) no-repeat center top;}
.t_nav{width:100%; min-width:950px;height:40px; line-height:40px; text-align:center; background:#45A36F; color:#FFFFFF; border-bottom:2px solid #298050; overflow:hidden;}
.t_nav a{padding:15px; height:40px; line-height:40px;}
.t_nav a,.t_nav a:link,.t_nav a:visited{color:#FFFFFF;}
.t_nav a.onread{ background:#298050;}
/*内容框架*/
.box{width:950px;height:auto!important;height:500px;min-height:500px; background:#FFFFFF; margin:15px auto 20px auto; clear:both;}
.bg_color03{ border:1px solid #EAEAEA; border-bottom:none; padding:0 1px; width:946px; margin-top:10px;}
.bg_color03 td{ border-bottom:1px solid #EAEAEA; border-top:1px solid #FFFFFF; background:#FAFAFA; padding:4px 6px;}
.bg_color03 td.borderR{ border-right:1px solid #EAEAEA;}
.bg_color02 td{ background:#F0F0F0; color:#298050;}
#cnt1{ width:910px; margin:10px auto;}
#cnt1 li{float:left; display:inline; height:25px; line-height:25px; padding-right:10px;text-align:left;width:170px; overflow:hidden;}
.cnt1Tips{ padding:20px 0; text-align:center; color:#298050;}
.searchCnt{ width:950px; line-height:29px; height:29px;}
.ipt_1{ height:27px; line-height:27px; border:1px solid #CCCCCC; border-radius:4px; width:150px; font-size:12px;}
#submitShow{ display:none;}

.index_box{ width:950px; margin:20px auto; overflow:hidden;}
.index_box_five{ width:137px; height:135px;border:4px solid #f6f8f7; background:#eef1ef;float:left; display:inline; margin-right:15px; position:relative;}
.index_box_five_on,.index_box_five:hover{background:#EAEAEA; border:4px solid #FAFAFA;}
.index_box_five a,.index_box_five a:link,.index_box_five a:visited{ display:block;width:137px; height:25px; line-height:25px;text-align:center;font-size:15px;color:#298050; padding-top:95px; padding-bottom:15px; position:absolute; left:0; top:0; z-index:100;}
.index_box_five a:hover{color:#444444;  text-decoration:none;}

.index_box_icon{ width:66px; height:66px; overflow:hidden; display:block; background:url(../images/zsgs/mdgs_icons.gif) no-repeat; position:absolute; left:36px; top:18px; z-index:99;}
.icon_bsszg{ background-position:0 0}
.icon_bssnlq{ background-position:0 -66px;}
.icon_ystcs{ background-position:0 -132px;}
.icon_gspydy{ background-position:0 -198px;}
.icon_zzxb{ background-position:0 -264px;}
.icon_nczx{ background-position:0 -330px;}
.icon_sdxy{ background-position:0 -396px;}
.icon_bsszg_on{ background-position:-66px 0}
.icon_bssnlq_on{ background-position:-66px -66px;}
.icon_ystcs_on{ background-position:-66px -132px;}
.icon_gspydy_on{ background-position:-66px -198px;}
.icon_zzxb_on{ background-position:-66px -264px;}
.icon_nczx_on{ background-position:-66px -330px;}
.icon_sdxy_on{ background-position:-66px -396px;}

/*鼠标hover弹出层样式*/
.tipDiv{position:relative; text-align:left;}
a.showTip{ color:#069;}
.tipArrow{ display:none;width:7px; height:11px; background:url(../images/common/arrow_tip.gif) no-repeat 0 0; overflow:hidden; position:absolute; top:7px; left:-10px; z-index:101;}
.tipBox{ display:none;position:absolute; width:150px; padding:6px 10px; left:-181px; top:0; border:1px solid #E6E6E6; background:#FFFFFF; text-align:left; z-index:100;}

.footer{ background:#F0F0F0; min-width:950px;}
/*公用样式*/
.alertBox,.error{ background:#FEF0EF; border:1px solid #edbbbc; margin:0 auto; color:#c0504c; padding:6px 20px; text-align:left; width:500px; margin-bottom:10px;}
.psTxt{background-color:#F6F6F6;border-left:3px solid #2EAFBB;}
.color333, a.color333{color:#333333;}
.color666, a.color666{color:#666666;}
.color999, a.color999{color:#999999;}
a.color999:hover{color:#333333; text-decoration:none;}
.colorBlue, a.colorBlue,a.colorBlue:link,a.colorBlue:visited{color:#007DCC;}
.colorRed, a.colorRed,a.colorRed:link,a.colorRed:visited{ color:#EE4F07;}
.colorRed2, a.colorRed2{ color:#F00;}
.clearfix:after{content:"\0020"; display:block; height:0; clear:both;}
.clearfix{zoom:1;}
.clearit{height:0; line-height:0; font-size:0; clear:both; overflow:hidden;}

.alignR{text-align:right;}
.alignC{text-align:center;}
.alignL{text-align:left;}
.fontBold{font-weight:bold;}
.font12{font-size:12px; line-height:24px;}
.padding10{ padding:10px 0;}

.btn_green{height:27px; line-height:27px; color:#FFFFFF; padding:0 15px; text-align:center; background:#45A36F; border-bottom:2px solid #298050; border:none; border-radius:4px; cursor:pointer;}
.btn_green:hover{opacity:0.8; text-decoration:none;}
.btn_grey{height:27px; line-height:27px; color:#333333; padding:0 15px; text-align:center; background:#F0F0F0; border-bottom:2px solid #CCCCCC; border:none; border-radius:4px; cursor:pointer;}
.btn_grey:hover{opacity:0.8; text-decoration:none;}